.icon {
    max-width: 5rem;
    max-height: 5rem;
}

body {
    background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?cs=srgb&dl=pexels-henry-%26-co-1939485.jpg&fm=jpg);
    background-size: cover;
}

.header-container {
    display: flex; 
    align-content: flex-start;
}

.h1 {
    margin-left: 2rem;
}

.btn {
    border-radius: 2rem;
    width: 10rem;
    height: 3rem;
    color: white;
    background-color: grey;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
}